
.intro{
	width: 100%;
	height: 180px;
	margin-top: 80px;
	background: url(../img/tiaofu.png);
}
.introT{
	width: 1200px;
	height: 180px;
	margin: 0 auto;
}
.intro_text{
	width: 1200px;
	height: 104px;
	margin-top: 100px;
	float: left;
	line-height: 100px;
	background:white;
}
.tiaofu{
	width: 1116px;
	height: 104px;
	margin: 0 auto;
	border-bottom: 1px solid #f2f2f2;
}
.span1{
	font-size: 20px;
	color: rgb(51,51,51);
}
.span2{
	font-size: 18px;
	color: rgb(119,119,119);
}
.jieshao{
	width: 1140px;
	height: 360px;
	margin: 10px auto;
}
.js_img{
	width: 400px;
	height: 203px;
	float: left;
	margin-top: 80px;
	margin-left: 30px;
}
.js_text{
	width: 700px;
	height: 310px;
	float: left;
}
.ppjj{
	width: 600px;
	height: 40px;
	margin-left: 30px;
	line-height: 40px;
	font-size: 32px;
	color: rgb(51,51,51);
	margin-top: 70px;
}
.ppjj img{
	width: 31px;
	height: 34px;
	float: left;
	margin-top: 3px;
}
.ppjj span{
	width: 200px;
	height: 36px;
	margin-left: 10px;
}
.ppjj_text{
	width: 600px;
	height: 162px;
	font-size: 16px;
	color: rgb(101,101,101);
	line-height: 28px;
	margin-top: 10px;
}
.ppjj_text1{
	text-indent: 20px;
}
.ppjj_text2{
	text-indent: 32px;
}
.develop{
	width: 1140px;
	margin: 0 auto;
}
.fzlc{
	width: 200px;
	height: 50px;
	margin: 0 auto;
}
.fzlc img{
	width: 31px;
	height: 34px;
	float: left;
	margin-top: 3px;
}
.fzlc span{
	width: 144px;
	height: 40px;
	line-height: 40px;
	font-size: 32px;
	margin-left: 10px;
	color: rgb(51,51,51);
}
.develop_text{
	width: 1140px;
}
.develop_text_left{
	width: 1140px;
	padding-top: 30px;
}
.first,.first1{
	width: 1140px;
	height: 30px;
}
.year{
	width: 60px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	margin-left: 50px;
	float: left;
}
.color1{
	color: rgb(99,177,76);
}
.color2{
	color: #ffc82f;
}
.month{
	width: 40px;
	height: 30px;
	float: left;
	font-size: 16px;
	line-height: 30px;
	color: rgb(51,51,51);
	margin-left: 10px;
}
.circle{
	width: 30px;
	height: 30px;
	float: left;
}
.first_line{
	width: 80px;
	height: 30px;
	float: left;
	margin-left: 3px;
}
.dian{
	width: 10px;
	height: 30px;
	float: left;
}
.dian img{
	width: 9px;
	height: 9px;
	margin-top:11px;
}
.first_text{
	width: 800px;
	height: 25px;
	padding-top: 5px;
	float: left;
	margin-left: 50px;
	font-size: 16px;
	color: rgb(115,115,115);
}
.shu{
	width: 1140px;
	height: 56px;
}
.shu img{
	margin-left: 175px;
}

/*.deveolp_text_right{
	width: 800px;
	height: 520px;
	float: left;
}
.develop_text_right li{
	list-style: none;
	line-height: 40px;
}*/
.idea{
	width: 1140px;
	margin: 30px auto;
}
.ppln{
	width: 200px;
	height: 40px;
	margin: 40px auto;
	text-align: center;
	line-height: 40px;
	font-size: 32px;
	color: rgb(51,51,51);
}
.ppln img{
	width: 31px;
	height: 34px;
	float: left;
	margin-top: 3px;
}
.ppln span{
	width: 144px;
	height: 40px;
}
.side{
	width: 1140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.idea_text{
	width: 1140px;
	height: 350px;
}
.mokuai{
	width: 265px;
	height: 350px;
	margin-left: 20px;
	background: #fef8ea;
	float: left;
}
.mk_title{
	width: 120px;
	height: 46px;
	font-size: 25px;
	text-align: center;
	line-height: 46px;
	margin-left: 72px;
	margin-top: 36px;
	color: white;
	background: #ffc82f;
}
.mk_text{
	width: 200px;
	height: 200px;
	font-size: 20px;
	margin-left: 30px;
	line-height: 30px;
	margin-top: 20px;
	color: rgb(115,115,115);
}
.team{
	width: 1140px;
	height: 350px;
	margin: 40px auto;
}
.team_img{
	width: 311px;
	height: 241px;
	float: left;
	margin-top: 60px;
    margin-left: 20px;
}
.team_text{
	width: 700px;
	height: 350px;
	margin-left: 90px;
	float: left;
}
.tdjs img{
	width: 31px;
	height: 34px;
	float: left;
	margin-top: 3px;
}
.tdjs span{
	width: 200px;
	height: 40px;
	margin-left: 10px;
	font-size: 32px;
	color: rgb(51,51,51);
}
.team_text p{
	text-indent: 32px;
}
.tdjs{
	width: 600px;
	height: 40px;
	font-size: 30px;
	line-height: 40px;
	margin-left: 50px;
	margin-top: 20px;
}
.tdjs_text{
	width: 600px;
	height: 220px;
	line-height: 30px;
	margin-top: 20px;
	color: rgb(115,115,115);
	font-size: 16px;
}
.bottom{
	margin-top: 80px;
}